<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Heart Disease predictor</title>
        <link rel="stylesheet" href="static/styles.css"/>
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    </head>
    <!-- Body -->
    <body>
        <div>
            <h1 class="flash">Heart Disease Predictor</h1>
            <img src="static/heart.jpg" class="img" width=300px height=300px>
            <form action="/predict" method="post">
                <input class="form-input" type="number" onkeydown="validateNumber(event)" min=0 name="age" placeholder="Age [years] eg:20"
                        required="required"/><br>
                <select class="form-input" name="sex">
                    <option value=1>Male</option>
                    <option value=0>Female</option>
                </select><br>
                <select class="form-input" name="chestpaintype">
                    <option value="TA">Typical Angina</option>
                    <option value="ATA">Atypical Angina</option>
                    <option value="NAP">Non-Anginal Pain</option>
                    <option value="ASY">Asymptomatic</option>
                </select><br>
                <input class="form-input" type="number" onkeydown="validateNumber(event)" min=0 name="restingbp"
                       placeholder="Resting blood pressure [mm Hg] eg:100" required="required" /><br>
                <input class="form-input" type="number" onkeydown="validateNumber(event)" min=0 name="cholesterol"
                       placeholder="Serum cholesterol [mm/dl] eg:180" required="required" /><br>
                 <select class="form-input" name="fastingbs">
                    <option value=1>Fasting Blood Sugar > 120 mg/dl</option>
                    <option value=0>Fasting Blood Sugar <= 120 mg/dl</option>
                </select><br>
                <select class="form-input" name="restingecg">
                    <option value="Normal">Normal ST-T wave</option>
                    <option value="ST">Having ST-T wave abnormality</option>
                    <option value="LVH">Left ventricular hypertrophy by Estes' criteria</option>
                </select><br>
                <input class="form-input" type="number" onkeydown="validateNumber(event)" min=0 name="maxhr"
                       placeholder="Maximum heart rate achieved eg:140" required="required" /><br>
                <select class="form-input" name="exerciseangina">
                    <option value=1>Have exercise-induced angina</option>
                    <option value=0>Do not have exercise-induced angina</option>
                </select><br>
                <input class="form-input" type="text" name="oldpeak" placeholder="ST [Numeric value measured in depression]"
                       required="required" /><br>
                <select class="form-input" name="stslope">
                    <option value="Up">Upsloping ST segment</option>
                    <option value="Flat">Flat ST segment</option>
                    <option value="Flat">Down ST segment</option>
                </select><br>
                <button type="submit" class="button">Predict</button>
            </form>
           <br>
           <br>
         </div>
    </body>
     <!-- Footer -->
    <div class='footer'>
        <div class="contact">
            <a target="_blank" href="https://github.com/KenTeo"><i class="fab fa-github fa-lg contact-icon"></i></a>
        </div>
        <p class='footer-des'> Results are not scientifically tested<br>
            &copy; 2021, All Rights Reversed</p>
    </div>
</html>